[submodule "extra_backends/err-backend-gitter"]
	path = extra_backends/err-backend-gitter
	url = https://github.com/errbotio/err-backend-gitter.git
	branch = master
[submodule "repository"]
	path = repository
	url = https://github.com/errbotio/errbot.git
	branch = master
